@font-face {
    font-family: fortnite;
    src: url(../font/fortnite.otf)format('opentype');
}
html{
    height: 100%;
}
header{
    display: inline-block;
    border-top: 3px solid;
    width: 100%;
    height: auto;
    background-color: #000000;
    
    margin-bottom: 21px;
    
}
header a{
    display: inline-block;
    margin-top: 10px;
    overflow: hidden;
    clear: both;
    white-space: nowrap;
    font-size: 1.3vw;
    color: #ecb41a;
    padding: 5px;
    text-decoration: none;
    
    border-left: #ecb41a solid 2px ;
    border-radius: 3px;
    
}
header a:hover{
    transition: ease-in-out all .2s;
    -webkit-transition: ease-in-out all .2s;
    color: #fae204;
    border-left: #fae204 solid 5px ;
}
.header_title{
    display: inline-block;
    padding: 5px 5px 0px 0px;
    margin: 0;
    width: 40%;
    float: left;
    height: 100%;
}
.header_image{
    display: inline-block;
    width: 40%;
}
.header_name {
    display: inline-block;
    position: absolute;
    width: 35%;
    padding-left: 5px;
    font-size: 5vw;
    color: #000000;
    -webkit-text-stroke: 0.8px #ffffff ;
    text-size-adjust: auto;
}
.header_nav{
    display: inline-block;
    width: 45%;
    height: 60px;
    margin: 0;
    float: right;
    text-align: right;
}
.header_player{
    width: 10%;
    display: inline-table;
    color: #000000;
    font-size: 1.5vw;
    text-size-adjust: auto;
    padding: 2%
}
.player_details{
    display: inline-block;
    width: 80%;
    color: #000000;
    -webkit-text-stroke: 0.5px #ffffff;
    height: auto;
    text-align: center;
    text-size-adjust: auto;
}
.header_squad{
    width: 20%;
    font-size: 3vw;
    color: #000000;
    -webkit-text-stroke: 0.5px #ffffff ;
    background-color: #ffffff;
    text-size-adjust: auto;
    text-align: center;
}

.Player{
    display: flex;
    background-color: #160e41;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    width: 70%;
    height: fit-content;
    margin-left:15% ;
    vertical-align: middle;
}
.Player img{
    display: inline-block;
    width: 80%;
}
body{
    background-color: #000000;
    font: #ecb41a;
    height: 100%;

    color: #ecb41a;
    font-family:fortnite  ;
}
.main-stats-section{
    text-align: center;

}
.main-stats-title{
    text-align: center;
    font-size: 3em;
    color: #000000;
    -webkit-text-stroke: 0.8px #ffffff ;   
}

.main-stats-block{
    flex: 1;
    width: 100%;
    

}
.main-stats-squad{
    display: inline-block;
    width: 100%;

}
.main-stats-container{
    display: inline-table;
    margin: 1%;
    height: 3em;
    width: 400px;
    
}
.main-stats-subtitle{
    width: 40%;
    display: table-cell;
    background-color: #41a889;
    color: #ffffff;
    text-align: center;
    font-size: 2em;
    text-size-adjust: auto;
    vertical-align: middle;
    /*clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);*/

    
}
.main-stats-value{
    width: 60%;
    display: table-cell;
    background-color: #ffffff;
    color: #000000;
    font-size: 2em;
    text-size-adjust: auto;
    vertical-align: middle;
    transform-origin: top ;
    transform: skewX(-5deg);

    /*clip-path: polygon(10% 0, 100% 0, 100% 100%, 2.8% 100%);*/

}
.squad-performance{
    text-align: center;
    width: 100%;

}
.performance-container{
    display: inline-block;
    width: 20%;
    margin: 2%;

}
.performance-header{
    text-align: center;
    width: 100%;
    
}
.performance-header-title{
    display: table-cell;
    width: 80%;
    background-color: #8d52b5;
    color: #ffffff;
    width: 230px;
    font-size: 1.2em;
    text-size-adjust: auto;
    vertical-align: middle;
    height: 1.8em;
}
.performance-header-stats{
    display: table-cell;
    width: 140px;
    background-color: #ffffff;
    color: #000000;
    font-size: 1.2em;
    text-size-adjust: auto;
    vertical-align: middle;
    transform-origin: top ;
    transform: skewX(-5deg);
    height: 1.8em;
}
.performance-stats-container{
    display: inline-table;
    text-align: left;
    margin-top: 10px;


}
.block-stats{
    display: inline-block;
    width: 47%;
    font-size: 1.2vw;

    margin: 3px;
    text-align: left;
    background-color: #232323;
    border-radius: 2px;

}
.stats-title{
    margin-top: 5px;
    margin-left: 5px;
    height: 50%;
    -webkit-text-stroke: 0.8px #ffffff;
    color: #765909;
    text-size-adjust: auto;

    
}
.stats-data{
    text-align: right;
    margin-right: 5px;
    font-size: 1.5vw;
    color: #dfd9d9;
    text-size-adjust: auto;

    
}


