@font-face {
    font-family: fortnite;
    src: url(../font/fortnite.otf)format('opentype');
}
header{
    display: inline-block;
    border-top: 3px solid;
    width: 100%;
    height: auto;
    background-color: #000000;
    
    margin-bottom: 21px;
    
}
header a{
    display: inline-block;
    margin-top: 10px;
    overflow: hidden;
    clear: both;
    white-space: nowrap;
    font-size: 1.3vw;
    color: #ecb41a;
    padding: 5px;
    text-decoration: none;
    
    border-left: #ecb41a solid 2px ;
    border-radius: 3px;
    
}
header a:hover{
    transition: ease-in-out all .2s;
    -webkit-transition: ease-in-out all .2s;
    color: #fae204;
    border-left: #fae204 solid 5px ;
}
.header_title{
    display: inline-block;
    padding: 5px 5px 0px 0px;
    margin: 0;
    width: 40%;
    float: left;
    height: 100%;
    

    
}
.header_image{
    display: inline-block;
    width: 40%;
    
}
.header_name {
    display: inline-block;
    position:fixed;
    width: 35%;
    padding-left: 5px;
    font-size: 4vw;
    color: #000000;
    -webkit-text-stroke: 0.8px #ffffff ;
    text-size-adjust: auto;

}
.header_nav{
    display: inline-block;
    width: 45%;
    height: 60px;
    margin: 0;
    float: right;
}
.header_player{
    margin-top: 10px;
    width: 10%;
    display: inline-block;
    padding-right: 50px;
    color: #000000;
    font-size: 1.5vw;
    text-size-adjust: auto;
   
}
.player_details{
    display: inline-block;
    width: 65%;
    color: #000000;
    -webkit-text-stroke: 0.5px #ffffff;
    text-align: center;
    float: right;
    margin-left: 1px;
    margin-right: 1px;


}
.header_squad{
    display:inline-block;
    width: 30%;
    height: 100%;
    font-size: 2vw;
    color: #000000;
    -webkit-text-stroke: 0.5px #ffffff ;
    text-align: center;
    text-size-adjust: auto;
    background-color: #ffffff;

}

.Player{
    display: inline-block;
    background-color: #160e41;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    width: 100%;
    height:fit-content;
    
    
}
.Player img{
    display: inline-block;
    width: 80%;
}
body{
    display: inline-block;
    background-color: #000000;
    font: #ecb41a;
    height: 100%;
    font-weight: lighter;
    color: #ecb41a;
    font-family:fortnite  ;
}




